* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

body {
    background-color: rgb(199, 139, 255);
}

main {
    background-color: white;
    width: 500px;
    margin: auto;
    padding: 10px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.247);
}

h1 {
    font-size: 2em;
    color: rgb(48, 0, 94);
}

h2 {
    font-size: 1.5em;
    color: rgb(48, 0, 94);
}

img.lado {
    float: right;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: rgb(48, 0, 94);
}

a:hover {
    text-decoration: underline;
    color: rgb(32, 32, 255);
}